* {
    font-family: 'Expletus Sans', cursive;
    margin: 0;
    padding: 0;
    color: #fff;
}

/* NAVIGATION BAR */

#navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background-color: rgba(34, 34, 34, 0.842);
    height: 10vh;
}

.tab {
    width: 250px;

    background-color: rgba(34, 34, 34, 0);
}

.tab a {
    background-color: rgba(34, 34, 34, 0);
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 25px;

}


.tab a:hover {
    color: #000;
    background-color: gold;
    transition: 1s;
}

.tab:hover {
    transform: skewX(10deg)translateX(10px);
    transition: 0.5s;
}

/* INTRODUCTION SECTION */

#introduction {
    display: flex;
    background-color: darkslateblue;
}

#profilPic {
    width: 300px;
    margin: 80px 150px;
}

#profil {
    width: 80%;
    padding: 40px;
}

#profil h1 {
    font-size: 40px;
}

#ref {
    font-weight: bold;
}